/*body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar {
	margin-bottom: 20px;
}*/

#cityResults {
	max-height: 206px;
	overflow: scroll;
}

#map-canvas {
	height: 250px;
	width: 100%;
	margin: 0;
	padding: 0;
}

#feildCol {
	width: 40%;
}

#statsCol {
	width: 60%;
}

div.progress{
	margin-bottom: 0px;
}

#citySearch {
	width: 300px;
}

div#mainWeatherRow {
	margin-top: 20px;
	margin-bottom: 20px;
}

div#mainWeatherInfo {
	/*margin-top: 8%;*/
}

p#wDesc.lead{
	margin-bottom: 0px;
}

#wTemp {
	font-size: 76px;
}

img#wIcon {
	filter: brightness(4.5);
	-webkit-filter: brightness(4.5);
}
